# Secret files - DO NOT UPLOAD
/backend/.env
/backend/serviceAccountKey.json

# Python dependencies & cache
/backend/venv/
/backend/__pycache__/
*.pyc

# Node.js dependencies
/frontend/node_modules/
/frontend/.env

# OS / IDE specific files
.DS_Store
.vscode/
