# Python virtual environment
/backend/venv/

# Python cache
/backend/__pycache__/
*.pyc

# Secret API keys
/backend/.env
/backend/serviceAccountKey.json

# Node.js dependencies
/frontend/node_modules/

# Build artifacts
/frontend/dist/
/backend/dist/

# IDE and OS files
.vscode/
.idea/
.DS_Store

